/* Positioning the card and lining it up */

.card {
  min-width: 20ch;
  max-width: 40ch;
  
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
  
  background-color: #ebebeb;
  
  box-shadow: .2rem .2rem .2rem .2rem rgba(0,0,0,0.2);
}

.card-wrapper {
  display: flex;
  
  align-items: center;
  align-content: center;
  justify-content: center;
}

/* Changing colours, making images fit into place and shaping them */

.card-img {
  display: flex;
  flex-direction: column;
  
  background-size: cover;
  
  width: 100%;
  height: 10rem;
  
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, 66% 62%, 39% 63%, 29% 100%, 0 100%, 0% 35%, 0 0);
}

/* Making the profile picture rounded and fit over top of background image */

.profile-img {
  width: 50%;
  height: 9.5rem;
  
  object-fit: cover;
  
  border: 0.5rem solid #ebebeb;
  border-radius: 50%;
  
  margin-top: -5rem;
  z-index: 100; 
} 

/* Changing the colour of the vertical line and making the icons fit into place */

.icons {
  display: flex;
  width: 100%;
  
  list-style: none;
  
  justify-content: space-evenly;
  
  gap: 1rem;
  padding: 0.5rem 0;
  
  margin-top: 1.5rem;
  border-top: 1px solid rgba(0,0,0,.1); 
}

/* Changing the colour of the icons and resizing them */

.icons i { 
  font-size: 2.5rem;
  
  color: #1d378f;
}

/* Changing the heading "Jane Doe" font size and font family to make it look better. Added margin to space it out */

h1 {
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
  
  margin: 0.5rem;
}

/* Changing the font size and font family of the paragraph lorem ipsum text. Adding margin to space it out evenly and making it centered */

.card p {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  
  text-align: center;
  
  margin: 0.3rem;
}

/*Resets*/   

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
